/* typography */

body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    background-color: beige;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 2rem auto 0.3rem;
}

header p:first-child {
    font-size: 1.3rem;
    margin: 0rem auto 1rem;
}

/* main layout */

.flex {
    display: flex;
    justify-items: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.header{
    flex-direction: column;
}

.input-section {
    flex-direction: column;
    align-items: flex-start;

}

.parts {

}

.part {
    flex-direction: column;
    width: 210px;
    padding: 1rem 1.75rem;
    margin: 0 1rem;
    background-color: blanchedalmond;
}

.part h3 {
    margin: 0;
}

.basic-button {
    padding: 1rem 1.75rem;
    width: 100%;
    background-color: cadetblue;
    color: aliceblue;
    border: none;
    font-size: 1.5rem;
}



.output-section {

}

/* form design */

select {
    font-size: 1rem;
    border: 1px black solid;
}

input {
    line-height: 1.5em;
    border: 1px black solid;
}

.form-unit {
    border: 1px solid black;
    margin: 1em 0;
    text-align: center;
}

.output {
    
}

.singular-output {
    margin: 1rem;
    width: 22%;
    height: 100px;
    background-color: blanchedalmond;
}