/* typography */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: beige;
    text-align: center;
}


h1 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 2rem auto 0.3rem;
}

header p:first-child {
    font-size: 1.3rem;
    margin: 0rem auto 1rem;
}

/* main layout */

.flex {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.header{
    flex-direction: column;
    max-width: 900px;
}

.input-section {
    flex-direction: column;
    max-width: 1100px;

}

.parts {
    align-items: stretch;
    gap: 2rem;
}

.part {
    padding: 1rem;

    flex-direction: column;
    width: 22%;
    min-width: 240px;
    background-color: blanchedalmond;
}

.part h3 {
    margin: 0;
}

.basic-button {
    padding: 1rem 1.75rem;
    width: 70%;
    background-color: cadetblue;
    color: aliceblue;
    border: none;
    font-size: 1.5rem;
}

.basic-input{
    font-size: 4rem;
    width: 70%;
    height: 8rem;
}

.basic-select {
    font-size: 1.5rem;
    width: 70%;
    height: 8rem;
    word-wrap: normal !important;
    white-space: normal;
}

.output-section {
    flex-direction: column;
    max-width: 1100px;
}